[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=AndronoidEditor
Exec=/opt/AndronoidEditor/bin/AndronoidEditor
Icon=AndronoidEditor
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
